<main class="container">
    <h1 class="visually-hidden">Каталог магазина 'ХОББИ АРТ'</h1>
    <div class="main-head">
        <ul class="bread-crumbs">
            <li class="bread-crumbs__item"><a class="bread-crumbs__link" href="index.html">Главная</a></li>
            <li class="bread-crumbs__item">Каталог</li>
        </ul>
    </div>

    <section class="catalog-page">
        <div class="catalog-page__wrapper">
            <h2 class="title catalog-page__title">Каталог</h2>
            <ul class="catalog-page__list">
                <li class="catalog-page__item"><a class="catalog-page__link catalog-page__macrame"
                        href="./catalog-macrame.html" [routerLink]="['/catalog/macrame']" >Макраме</a></li>
                <li class="catalog-page__item"><a class="catalog-page__link catalog-page__knitting"
                        href="./catalog-knitting.html">Вязание</a></li>
                <li class="catalog-page__item"><a class="catalog-page__link" href="">Вышивка</a></li>
                <li class="catalog-page__item"><a class="catalog-page__link" href="">Лепка</a></li>
                <li class="catalog-page__item"><a class="catalog-page__link" href="">Инструменты</a></li>
                <li class="catalog-page__item"><a class="catalog-page__link" href="">Упаковка</a></li>
                <li class="catalog-page__item"><a class="catalog-page__link" href="">Товары для&nbsp;творчества</a></li>
                <li class="catalog-page__item"><a class="catalog-page__link" href="">Книги</a></li>
            </ul>
        </div>

    </section>

</main>